.App {
  text-align: center;
  font-family: monospace;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  background-color: black;
  color: white;

  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 3rem;
}

input {
  height: 100%;
  color: white;
  background-color: black;
  border: 1px solid grey;
}

button {
  width: 150px;
}

.option {
  width: 100px;
  display: inline;
  text-align: left;
  font-size: large;
}

.balance {
  color: aquamarine;
}

* {
  user-select: none;
}

button {
  background-color: aquamarine;
  border: 1px solid aquamarine;
  color: rgb(0, 0, 0);
  padding: 4px;
  height: 100%;
}

button {
  font-size: calc(10px + 2vmin);
}

* {
  box-sizing: border-box;
  margin: 4px;
}

button:hover {
  background-color: #000000;
  color: aquamarine;
  border: 1px solid white;
}

button:active {
  background-color: white;
  color: rgb(0, 0, 0);
}

.typewriter {
  height: 40px;
  margin-bottom: 10px;
}
